body {
	background-color: #9852F9;
	color: #FFD739;
	font-size: 30px; 
	letter-spacing: 3px; 
	text-align: center;
	align-items: center;
	font-weight: 500;
	font-family: Signika;


}

#period{
	color: red;
}

h1, h2 {
	font-family: Bangers;
	font-style: italic;
	font-style: bold;
}


h1{
	color: #F3EB9D;
	letter-spacing: 10px;
	font-size: 70px;

}

h2{
	color: #F3EB9D;
	font-size: 50px;
	font-weight: lighter;

}

img{
	border-radius: 50%; 
	border: 10px solid #FFD739;
}

.container div{
	background-color: #C299FC;
	padding: 50px;
}

.card-white {
	background-color: #FFD739;
	padding: 40px
	border-radius: 4px;
}

@media(max-width: 500px) {
	.container {
		width: 500px;
	}
}

@media(max-width: 760px) {
	.container div{
		width: 500px;
	}
}

div{
	background-color: #FFF8CD;
	padding: 0px auto;
	width: 1300px auto;
	margin: 100px auto;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius: 8px;
	border-color: black;
}


a {
	text-decoration: none;
	color: yellow;
	font-style: italic;
}

a:hover {
	color: yellow;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;

}

.list-inline i {
	font-size: 50px;
	color: yellow;
}